<template>
  <div :class="classes">
    <slot/>
  </div>
</template>

<script>
import { computeSizeClasses } from '@/utils/helpers'
import { allowedSizes } from '@/utils/allowedStyles'

const col = 'col'
const offset = 'offset'

export default {
  props: {
    cols: [String, Number],
    offset: [String, Number],
    sm: [Boolean, String, Number],
    md: [Boolean, String, Number],
    lg: [Boolean, String, Number],
    xl: [Boolean, String, Number],
    offsetSm: [Boolean, String, Number],
    offsetMd: [Boolean, String, Number],
    offsetLg: [Boolean, String, Number],
    offsetXl: [Boolean, String, Number]
  },
  data: () => ({
    computedClasses: []
  }),
  mounted () {
    const offsetProps = Object.keys(this.$props).filter(x => x.includes(offset))
    const colProps = Object.keys(this.$props).filter(x => allowedSizes.includes(x) ? x : '')

    // generating offset-* classes
    for (const type of offsetProps) {
      this.computedClasses.push(computeSizeClasses(offset, type.replace(offset, '').toLowerCase(), this.$props[type]))
    }
    // generating col-* classes
    for (const type of colProps) {
      this.computedClasses.push(computeSizeClasses(col, type, this.$props[type]))
    }
  },
  computed: {
    classes: function () {
      return [
        this.cols ? `${col}-${this.cols}` : col,
        this.offset ? `${offset}-${this.offset}` : '',
        this.computedClasses
      ]
    }
  },
  name: 'v-col'
}
</script>

<style lang="scss"></style>
