<template>
  <div :class="[fluid ? 'container-fluid' : 'container']" v-bind="$attrs">
    <slot/>
  </div>
</template>

<script>
export default {
  props: {
    fluid: Boolean
  },
  name: 'v-container'
}
</script>

<style lang="scss"></style>
