<template>
  <div class="select" v-click-outside="hide">
    <div
      class="select__header"
      :class="{'active__header': active}"
    >
      <input
        type="text"
        class="current__item"
        readonly="readonly"
        :value="activeOption.name || activeOption"
        :placeholder="hidePlaceholder ? '' : label"
        @focus="show"
      >
      <v-icon v-if="!hideIcon" class="select__icon" :class="icon" @click="clear"/>
    </div>
    <div class="select__errors" :class="$attrs.errorsClasses" v-if="!hideErrors">
      <div class="select__error-title" v-for="(error, index) in errors" :key="index">
        {{ error }}
      </div>
    </div>
    <transition name="fall-out">
      <div
        class="select__body"
        :class="{'active__body': active}"
        v-show="active"
      >
        <div class="select__option option-label" @click="onOptionClick([])" v-if="options.length">{{ label }}</div>
        <div class="select__no-items" v-else>{{ noItemsMessage }}</div>
        <div v-if="isString">
          <div
            :class="{'select__option': true, 'select__option-active': option === activeOption}"
            v-for="(option, index) in options"
            @click="onOptionClick(option)"
            :key="index"
          >{{ option }}</div>
        </div>
        <div v-else>
          <div
            :class="{'select__option': true, 'select__option-active': compareObjects(option, activeOption)}"
            v-for="(option, index) in options"
            @click="onOptionClick(option)"
            :key="index"
          >{{ option.name }}</div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import ClickOutside from '../../directives/click-outside'
import Icon from '../Icon/Icon.vue'

export default {
  name: 'v-select',
  directives: {
    'click-outside': ClickOutside
  },
  components: {
    'v-icon': Icon
  },
  inheritAttrs: false,
  props: {
    value: {},
    options: Array,
    label: {
      type: String,
      default: 'Choose option'
    },
    hidePlaceholder: {
      type: Boolean,
      default: false
    },
    hideIcon: {
      type: Boolean,
      default: false
    },
    icon: {
      type: String,
      default: 'fas fa-times'
    },
    noItemsMessage: {
      type: String,
      default: 'No items passed'
    },
    valueKey: {
      type: String
    },
    errors: {
      type: Array
    },
    hideErrors: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    active: false,
    activeOption: []
  }),
  mounted () {
    if (!this.isString) {
      this.options.forEach((option) => {
        this.compareObjects(option, this.value) ? this.activeOption = this.value : ''
      })
    }
  },
  computed: {
    isString: function () {
      return typeof this.options[0] === 'string' || this.options[0] instanceof String
    }
  },
  methods: {
    show: function () {
      this.active = true
    },
    hide: function () {
      this.active = false
    },
    clear: function () {
      this.hide()
      this.activeOption = []
    },
    compareObjects: function (obj1, obj2) {
      return JSON.stringify(obj1) === JSON.stringify(obj2)
    },
    onOptionClick: function (option) {
      this.valueKey && !this.isString ? this.$emit('input', option[this.valueKey]) : this.$emit('input', option)
      this.activeOption = option
      this.hide()
    }
  }
}
</script>

<style scoped lang="scss" src="./select.scss"></style>
