<template>
    <i
      v-bind="$attrs"
      class="v-icon"
      @click="$emit('click')"
    ></i>
</template>

<script>
export default {
  name: 'v-icon',
  data: () => ({})
}
</script>

<style src="@fortawesome/fontawesome-free/css/all.min.css" scoped></style>
<style scoped>
  .v-icon{
    color: #171717;
    font-size: 24px;
  }
</style>
