<template>
  <div id="app">
    <v-select :options="options" v-model="val"></v-select>
    <v-container>
      <v-row justify="start" row-cols="2">
        <v-col md="3">test col 1</v-col>
        <v-col>test col 2</v-col>
        <v-col>test col 3</v-col>
        <v-col xl="12" sm="8" offset-md="2">test col 4</v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import * as components from './components'
import Select from './components/Select/Select.vue'
import Container from './components/Grid/Container.vue'
import Row from './components/Grid/Row.vue'
import Col from './components/Grid/Col.vue'
import '@/styles/main.scss'

export default {
  name: 'App',
  components: {
    'v-select': Select,
    'v-container': Container,
    'v-row': Row,
    'v-col': Col
  },
  data: () => ({
    val: '111',
    options: [
      {
        name: 'Name 1',
        value: '111'
      },
      {
        name: 'Name 2',
        value: '222'
      },
      {
        name: 'Name 3',
        value: '333'
      },
      {
        name: 'Name 4',
        value: '444'
      }
    ]
  }),
  mounted () {
    console.log('worked!', components)
  },
  methods: {}
}
</script>

<style lang="scss" src="@/styles/_reboot.scss"></style>
